<% unless notices.present? %>
  <div class="row" id="notice_list">
    <div id="notice_row_#{notice.id}">
      きづきはまだありません。
    </div>
  </div>
<% else %>
  <div class="row" id="notice_list">
    <% notices.each do |notice| %>
      <div id="notice_row_#{notice.id}">
        <%= render "notices/detail", notice: notice %>
      </div>
    <% end %>
  </div>
<% end %>
