<div class="row" id="notice_list">
  <% notices.each do |notice| %>
    <div class="col-md-12" id="notice_row_#{notice.id}">
      <%= render "notices/detail", notice: notice %>
    </div>
  <% end %>
</div>

