<%
    action_name = controller.action_name
    nav_links = [
      ["サマリー", "/", nil],
      ["今日", todays_notices_path, action_name == "todays" ? :active : nil],
      # ["まだ読んでない", unread_notices_path,  action_name == "unread" ? :active : nil],
      # ["注目", watched_notices_path,  action_name == "watched" ? :active : nil],
      ["すべて", notices_path,  action_name == "index" ? :active : nil]
    ]
%>

<%= render "shared/tabs", links: nav_links %>
<br>


<h1>きづき</h1>

<%= render "notices/notice_list", notices: @notices %>

<%= paginate @notices %>
