<%= render "notices/detail", notice: @notice %>

<% @notice.replies.each do |reply| %>
  <%= render "replies/detail", notice: @notice, reply: reply %>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to '参照', @notice %></li>
  <li><%= link_to '一覧', notices_path %></li>
</ol>
