<h1>login page</h1>
<br>
<%= link_to "googleログイン", "/auth/google_oauth2" %><br>
<%= link_to "twitterログイン", "/auth/twitter" %><br>
<%= link_to "facebookログイン", "/auth/facebook" %><br>


<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
