<div class="panel panel-default">
  <div class="panel-heading">
    <%= user_nickname(user) %>の活動
  </div>
  <div class="panel-body">
    <div id="user_activity_map"></div>
    <script type="text/javascript">
      var startDate = new Date();
      startDate.setMonth(startDate.getMonth() - 5);

      var cal = new CalHeatMap();
      cal.init({
        itemSelector: "#user_activity_map",
        data: "<%= activities_user_path(user, format: :json) %>",
        domain: "month",
        subDomain: "day",
        range: 6,
        start: startDate,
       });
    </script>
  </div>
</div>
