<h1>ユーザ登録</h1>

<%= link_to "googleアカウントで登録する", "#" %><br>
<%#= link_to "facebookアカウントで登録する", "#" %>
<%#= link_to "twitterアカウントで登録する", "#" %>

<br>
<br>
<br>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
