<%= render "users/tabs" %>
<br>
<% unless @notices.present? %>
  <div class="row" id="notice_list">
    きづきはまだありません。
  </div>
<% else %>
  <% @notices.each do |notice| %>
    <div class="row" id="notice_row_<%= notice.id %>">
      <%= render "notices/detail", notice: notice %>
    </div>
  <% end %>
<% end %>

<%= paginate @notices %>
