<%= render "users/tabs" %>
<br>
<div class="row">
  <div class="col-md-12">
    <%= render "detail", user: @user %>
  </div>

  <div class="col-md-12">
    <%= render "users/activities", user: @user %>
  </div>
</div>
