<footer class="footer">
  <div class="container text-right">
    <br>
    <a href="https://github.com/ken1flan/everyones_notice">githubリポジトリ</a>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#newFeedbackDialog">
      <span class="glyphicon glyphicon-envelope"></span>
      feedback
      
    </button>
  </div>
</footer>
