<ul class="nav nav-tabs markdown_writing_preview_tabs">
	<li role="presentation" class="active markdown_writing_tab"><a href="#"><small>記入</small></a></li>
	<li role="presentation" class="markdown_preview_tab"><a href="#"><small>プレビュー</small></a></li>
</ul>
<br>
<div class="panel panel-default sr-only markdown_preview">
  <div class="panel-body">
    <div class="markdown_body">
      レンダリング中です。
    </div>
  </div>
</div>
