<% if links.present? %>
  <ul class="nav nav-tabs">
    <% links.each do |link| %>
      <li role="presentation" class="<%= :active if link[1] == request.path_info %>">
      <%= link_to link[0], link[1] %>
      </li>
    <% end %>
  </ul>
<% end %>
