<% if advertisements.blank? %>
  おしらせはありません。
<% else %>
  <% advertisements.each do |advertisement| %>
    <div class="media notice_unit">
      <div class="media-left">
        <%= image_tag advertisement.user.icon_url, size: "32x32" %>
      </div>
      <div class="media-body">
        <%= link_to advertisement.title, advertisement_path(advertisement) %><br>
        <small><%= advertisement.summary %></small>
      </div>
    </div>
  <% end %>
<% end %>
