<div class="panel panel-default">
  <div class="panel-heading">
    <% if defined? management %>
    <%= link_to advertisement.title, advertisement_path(advertisement, management: true) %><br>
  <% else %>
    <%= link_to advertisement.title, advertisement_path(advertisement) %><br>
  <% end %>
  </div>
  <div class="panel-body">
    <%= advertisement.summary %>
  </div>
</div>
