<% nav_links = [[@tag.name, tag_path(@tag), :active]] %>

<%= render "shared/tabs", links: nav_links %>
<br>

<% @tagged_notices.each do |tagged_notice| %>
  <div class="row" id="notice_row_<%= tagged_notice.notice.id %>">
    <%= render "notices/detail", notice: tagged_notice.notice %>
  </div>
<% end %>

<%= paginate @tagged_notices %>
